*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
.tou{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.tou .rong{
    width: 1226px;
    height: 40px;
    background-color:#333333;
    margin: auto;
}

.tou .rong .kai{
    width: auto;
    background-color:transparent;
    line-height: 40px;
    font-size: 12px;
    float: left;
    
}
.tou .rong .kai span{
    background-color:transparent;
    color:#423C37;
    
}
.tou .rong .kai a{
    display:inline-block;
    height: 40px;
    background-color:transparent;
    color:#B0B0B0;
}
.tou .rong  .kai a:hover{
    color: #f5f5f5;
}
.tou .rong .deng{
    width: auto;
    height: 40px;
    line-height: 40px;
    background-color:transparent;
    font-size: 12px;
    float: right;
    margin-right: 30px;
}
.tou .rong .deng span{
    background-color:transparent;
    color:#757575;
    
}
.tou .rong .deng a{
    display:inline-block;
    height: 40px;
    background-color:transparent;
    color:#757575;
}
.tou .rong  .deng a:hover{
    color: #f5f5f5;
}
.tou .rong .shopping{
    width: 120px;
    height: 40px;
    background-color:#424242;
    float: right;
    color:#b0b0b0;
    margin-left: 20px;
}
.tou .rong .shopping span{
    font-size: 14px;
    background-color:transparent;
    color:#757575;
    line-height: 40px;
    margin-left: 15px
}
.tou .rong .shopping span .icon-gouwuchekong{
    background-color: transparent;
}
.tou .rong .shopping:hover span{
    color: #ff6700;
}
.tou .rong .shopping:hover{
    background-color: #fff;
    cursor: pointer;
    color: #ff6700;
}
.bai{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.bai .ju{
    width: 1226px;
    height: 100px;
    background-color: #fff;
    margin: auto;

}
.bai .ju .xm{
    width: 55px;
    height:55px ;
    background-color: #ff6700;
    margin-top: 22px;
    float: left;
    cursor: pointer;
    background-image: url("../img/001.png")
}
.bai .ju .zhong{
    width: auto;
    height: 50px;
    background-color: #ffffff;
    float: right;
    margin-right: 100px;
    margin-top:25px;
}
.bai .ju .zhu{
    width: 300px;
    height: 50px;
    background-color: #424242; 
    float: right; 
    margin-top:25px;
}
.bai .ju .zhu input{
    width:250px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: none;
    float: left;
    border: 1px solid #B0B0B0;
    text-indent: 1em;
    background-color: #fff;
}
.bai .ju .zhu:hover input{
    border: 1px solid #757575;
    border-right: 0;
}
.bai .ju .zhu:hover button{
    border: 1px solid #757575;
}
.bai .ju .zhu button{
    width:50px;
    height: 50px;
    border: 1px solid transparent;
    outline: none;
    box-sizing: border-box;
    float: right;
    border: 1px solid #B0B0B0;
    border-left: 0;
    background-color: #fff;
    cursor: pointer;
}
.bai .ju .zhu button:hover{
    background-color: #ff6700;
    color: #fff;
    border: 1px solid #ff6700;
}
.bai .ju .zhu button .icon-sousuo{
    background-color: transparent;
    font-size: 18px;
}

.zt{
    width: 1226px;
    height: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.bai .ju a{
    display: inline-block;
    line-height: 50px;
    background-color:transparent;
    margin-left: 15px;
    color:#424242;
}
.bai .ju a:hover{
    color:#ff6700;
    cursor: pointer;

}
.zt .top{
    width: auto;
    height: 58px;   
}
.zt .top .left{
    width: auto;
    height: 58px;
    line-height: 58px;
    float:left; 
    font-size: 20px;
    cursor: pointer;   
}
.zt .top .right{
    width: auto;
    height: 58px;;
    float:right;
    line-height: 58px; 
    cursor: pointer; 
}
.zt .top .right:hover{
    color: orangered;
}
/*文本结束*/
.zt .bottom{
    width: auto;
    height: 614px;;
}
.zt .bottom .box{
    width: 234px;
    height: 300px;
    background-color:white;
    margin-left:14px;
    margin-bottom: 14px;
    float:left;
}
.zt .bottom .box:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #dddddd;
}
.zt .bottom .box1{
    height: 614px;
    margin-left: 0;
    margin-bottom: 0;
}
.zt .bottom .box2{
    margin-bottom: 0;
}
.zt .bottom .box3 img{
    display:block;
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top:20px;
}
.bottom .box p{
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color:white;
}
.bottom .box .wen{
    width: 214px;
    height: 18px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    background-color:white;
    padding: 0 10px;
    box-sizing: border-box;
}
.bottom .box .ben{
    text-align: center;
    font-size: 14px;
    color: #ff6700;
    margin-top:14px;
    background-color:white;
}
a .lj{
    display: block;
    width: 1226px;
    height: 120px;
    margin: auto;
    margin-top:40px;
    margin-bottom: 19px;

}
.jiad{
    width: 1226px;
    height: auto;
     margin: 0 auto;
    background-color: #f5f5f5;
}
.jiad .top{
    width: auto;
    height: 58px;
}
.jiad .top p{
     width: auto;
    height: 58px;
    line-height: 58px;
    float:left; 
    font-size: 20px; 
}
.jiad .dianj{
    float:right;
}
.jiad .top span{
    
    line-height: 58px; 
    cursor: pointer;
    margin-left: 20px;
}
.jiad .top span:hover{
    color:#ff6700;
    border-bottom: 2px solid #ff6700;
    padding-bottom: 5px;
}
.jiad .bottom{
    width: auto;
    height: 614px;
}
.jiad .bottom .left{
    width: 234px;
    height: 614px;
    background-color: #f5f5f5;
    float:left;
}
.jiad .bottom .box:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #ddd;
}
.jiad .bottom .left .box{
    width: 234px;
    height: 300px;
    background-color: blue;
    margin-bottom: 14px;
}
.jiad .bottom .left .box1{
    margin-bottom: 0px;
}
.jiad .bottom .right{
    width: 992px;
    height: 614px;
    background-color: #f5f5f5;
    float:left;
}
.jiad .bottom .right .box{
    width: 234px;
    height: 300px;
    background-color: white;
    margin-left: 14px;
    margin-bottom: 14px;
    float:left;
    position: relative;
    overflow: hidden;
}
.jiad .bottom .right .box .son{
    width: 234px;
    height: 90px;
    background-color: #ff6700;
    position: absolute;
    bottom: -114px;
}
.jiad .bottom .right .box .son p{
    background-color: transparent;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
}
.jiad .bottom .right .box .son span{
    background-color: transparent;
    color: #dddddd;
    display: block;
    margin-top: 30px;
    font-size: 12px;
    margin-left: 40px;
}
.jiad .bottom .right .box:hover .son{
    transform: translateY(-114px);
    transition: 0.5s;
}
.jiad .bottom .right .box1{
    margin-bottom: 0px;
}
.jiad .bottom .right .box2{
    width: 234px;
    height: 143px;
    background-color: white;
}
.jiad .bottom .right .box .tu{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top:20px;
    background-color:white;
}
.jiad .bottom .right .box .mi{
    width: 214px;
    height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top:20px;
    background-color:white;
}
.jiad .bottom .right .box .xiao{
    display: block;
    height: 25px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    background-color:white;
}
.jiad .bottom .right .box .y{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ff6700;
    margin-top:14px;
    background-color:white;

}
.jiad .bottom .right .box .hui{
    color: #b0b0b0;
}
.jiad .bottom .right .box .bis1{
    width: 117px;
    height: 143px;
    background-color:white;
    float:left;
    box-sizing: border-box;
}
.jiad .bottom .right .box .bis1 .q{
    line-height: 143px;
    width: 117px;
    height: auto;
    display: block;
    text-align: center;
    font-size: 14px;
    background-color:white;
}
.jiad .bottom .right .box .bis1 .w{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ff6700;
    margin-top:-50px;
    
}
.jiad .bottom .right .box .bis1 .uu{
    display: block;
    width: 80px;
    height: 80px;
    float: right;
    margin-top:20px;
    margin-right: 15px;
    background-color:white;
}
.jiad .bottom .right .box .bis2{
    width: 117px;
    height: 143px;
    float:left;
    background-color:white;
}
.jiad .bottom .right .box .bis2 .e{
    line-height: 143px;
    display: block;
    text-align: center;
    font-size: 20px;
    background-color:white;
}
.jiad .bottom .right .box .bis2 .r{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #b0b0b0;
    margin-top:-50px;
    background-color:white;
}
.jiad .bottom .right .box .bis2 .tt{
    display: block;
    background-color: white;
    width: 60px;
    height: 60px;
    float: right;
    margin-top:20px;
    margin-right: 15px;
}
a .ll{
    display: block;
    width: 1226px;
    height: 120px;
    margin: auto;
    margin-top:40px;
    margin-bottom: 19px;

}
.wei{
    width: 1226px;
    height: 358px;
    background-color: #f5f5f5;
    margin: auto;

}
.wei .top{
    widows: 1226px;
    height: 72px;
}
.wei .top p{
    line-height: 85px;
    font-size: 25px;
}
.wei .bottom .mo{
    width: 234px;
    height: 245px;
    background-color: #fff;
    float: left;
    margin-right: 14px;
    padding:40px 0 15px 0;
}
.wei .bottom .mo:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #dddddd;
}
.wei .bottom .mo1{
    margin-right:0px;
}
.wei .bottom .mo .ttu{
    display: block;
    margin: auto;
    width: 140px;
    height: 140px;
}
.wei .bottom .mo .max{
    display: block;
    text-align: center;
    margin-top:20px;
    color: #000;
    background-color: #ffffff;

}
.wei .bottom .mo P{
    text-align: center;
    font-size: 14px;
    margin-top:5px;
    color: #ff6700;
    background-color: #ffffff;
}
.wei .bottom .mo span{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top:5px;
    background-color: #ffffff;
    color: #b0b0b0;
}
.rem{
    width: 1226px;
    height: 473px;
    background-color: #f5f5f5;
    margin: auto;
}
.rem .top{
    width: 1226px;
    height: 58px;
    margin-top: 35px;
}
.rem .top p{
    font-size: 25px;
    margin-top: 50px;
    color:#757575;
    
}
.rem .bottom .hua{
    width: 296px;
    height: 415px;
    background-color: #ffffff;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
.rem .bottom .hua:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #dddddd;
}
.rem .bottom .hua1{
    margin-left: 0;
}
.rem .bottom .hua img{
    display: block;
    width: 296px;
    height: 220px;
}
.rem .bottom .hua p{
    color:#333;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    line-height: 25px;
    background-color: #ffffff;
}
.rem .bottom .hua .lai{
    display: block;
    color: #b0b0b0;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #ffffff;
    font-size: 12px;
}
.rem .bottom .hua .dog{
    display: block;
    color: #333;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #ffffff;
    font-size: 14px;
}
.rem .bottom .hua span{
    color:#b0b0b0;
}
.rem .bottom .hua .qian{
    color:#ff6700;
    background-color: transparent;
}
.bo{
    width: 100%;
    height: 475px;
    background-color: #fff;
}
.bo .lun{
    width: 1226px;
    height: 460px;
    background-color: red;
    margin: 0 auto 14px;
    position: relative;
    
}
.bo .lun .botu{
    width: 1226px;
    height: 460px;
    background-color: goldenrod;
    position: absolute;
    top:0;
    left: 0;
}
.bo .lun .botu .tu{
    width: 1226px;
    height: 460px;
    background-color: rebeccapurple;
    position: absolute;
    top:0;
    left: 0;
}
.bo .lun .ce{
    width: 234px;
    height: 460px;
    background-color: rgba(72, 73, 73, 0.6);
    position: absolute;
    top:0;
    left: 0;
}
.bo .lun .ce .cdh{
    width: 234px;
    height: 42px;
    background-color: rgba(200, 200, 200, 0);
    color: #fff;
    line-height: 42px;
    position: relative;
}
.bo .lun .ce .cdh .icon-youjiantou{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 20px;
}
.bo .lun .ce .cdh1{
    margin-top: 20px;
}
.bo .lun .ce .cdh:hover{
    background-color: #ff6700;
}
.bo .lun .ce .cdh p{
    background-color:transparent;
    margin-left: 30px;
    font-size: 14px;
}
.bo .lun .zuojian{
    width: 41px;
    height: 69px;
    background-color: transparent;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    left: 234px;
}
.bo .lun .youjian{
    width: 41px;
    height: 69px;
    background-color: transparent;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    right: 0;
}
.bo .lun .youjian .icon-right{
    background-color: transparent;
    font-size: 45px;
    position: absolute;
    top: 13px;
    margin: auto;
    left: 0px;
    color: #b0b0b0;
}
.bo .lun .youjian:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.bo .lun .youjian:hover .icon-right{
    color: #fff;
}
.bo .lun .zuojian:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.bo .lun .zuojian:hover .icon-right-copy{
    color: #fff;
}
.bo .lun .zuojian .icon-right-copy{
    background-color: transparent;
    font-size: 45px;
    position: absolute;
    top: 13px;
    margin: auto;
    left: -7px;
    color: #b0b0b0;
}
.bo .lun .dian{
    width: 100px;
    height: 10px;
    position: absolute;
    bottom:26px;
    right: 35px;
    background-color: transparent;
}
.bo .lun .dian .yuan{
    width: 6px;
    height: 6px;
    border: 2px solid #b0b0b0;
    background-color: #757575;
    margin: 0 5px 0 5px;
    float: left;
    border-radius: 50%;
}
.bo .lun .dian .yuan:hover{
    background-color: #fff;
}
.dotu{
    width: 100%;
    height: 170px;
    background-color: #fff;

}
.dtu{
    width: 1226px;
    height: 170px;;
    margin: auto;
}
.dtu .left{
    width:234px ;
    height:170px ;
    background-color: #5F5750;
    float: left;
    padding: 3px;
    box-sizing: border-box;
    
}
.dtu .left .liu{
    width: 76px;
    height: 82px;
    background-color: #5F5750;
    float: left;
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}
.dtu .left .liu .xiao{
    width: 72px;
    height: 24px;
    background-color:transparent;
    position: absolute;
    top: 15px;
    left: 1px;
}
.dtu .left .liu .icon-xuangoushouji{
    background-color: transparent;
    font-size: 35px;  
    color: #D9D9D1;
    line-height: 24px;
    margin-left: 18px;
    font-weight: bold;
}
.dtu .left .liu .icon-liwu{
    background-color: transparent;
    font-size: 30px;  
    color: #D9D9D1;
    line-height: 24px;
    margin-left: 20px;
    font-weight: bold;
}
.dtu .left .liu .icon-Fma{
    background-color: transparent;
    font-size: 25px;  
    color: #D9D9D1;
    line-height: 24px;
    margin-left: 22px;
    font-weight: bold;
}
.dtu .left .liu .icon-mifenqia-copy{
    background-color: transparent;
    font-size: 25px;  
    color: #D9D9D1;
    line-height: 24px;
    margin-left: 25px;
    font-weight: bold;
}
.dtu .left .liu .icon-huafeichongzhi{
    background-color: transparent;
    font-size: 30px;  
    color: #D9D9D1;
    line-height: 24px;
    margin-left: 20px;
    font-weight: bold;
}
.dtu .left .liu:hover .icon-mifenqia-copy{
    color: #fff;
}
.dtu .left .liu:hover .icon-huafeichongzhi{
    color: #fff;
}
.dtu .left .liu:hover .icon-Fma{
    color: #fff;
}
.dtu .left .liu:hover .icon-liwu{
    color: #fff;
}
.dtu .left .liu:hover .icon-xuangoushouji {
    color: #fff;
} 
.dtu .left .liu:hover p{
    color: #fff;
}
.dtu .left .liu .shu{
    width: 1px;
    height: 68px;
    background-color: #757575;
    color: transparent;
    position: absolute;
    top:5px;
    right:0;
}
.dtu .left .liu .heng{
    width: 62px;
    height: 1px;
    background-color: #757575;
    color: transparent;
    position: absolute;
    bottom:3px;
    right:8px;
}
.dtu .left .liu p{
    background-color: transparent;
    color:#D9D9D1;
    font-size: 12px;
    margin: 40px 10px;
}
.dtu .left .liu .m{
    margin-left: 18px;
}
.dtu .right{
    width: 992px;
    height: 170px;
    background-color: #fff;
    float: right;
    margin-bottom:30px; 
}
.dtu .right .san{
    width: 316px;
    height: 170px;
    background-color: #fff;
    margin-left: 14px;
    float: left;
}
.dtu .right .right .wo{
    display: inline-block;
    height: 30px;
}
.dtu .right .san img{
    width: 316px;
    height: 170px;
}
.chatu{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: block;

}
.chatu .tuuu{
    display: block;
    width: 1226px;
    height: 120px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 30px;
}
.neir{
    width: 1226px;
    height:483px ;
    background-color: #f5f5f5;
    margin: 30px auto 0 ;
}
.neir .shang{
    width: 1226px;
    height: 58px;
    background-color: #f5f5f5;
    line-height: 58px;
    font-size: 26px;
    color:#757575;
}
.neir .tus{
    width: 296px;
    height: 374px;
    float: left;
    margin: 0 0 14px 14px;
    background-color: #fff;
    border-top: 1px solid #ff6700;
    padding-top: 45px;
    position:relative;
}
.neir .tus:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #dddddd;
}
.neir .tus1{
    margin-left: 0;
}
.neir .tus2{
    border-top: 1px solid #BCDCA1; 
}
.neir .tus3{
    border-top: 1px solid #F29C9A; 
}
.neir .tus4{
    border-top: 1px solid #2196F3;
}
.neir .tus p{
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    color: #ff6700;
}
.neir .tus2 p{
    color: #BCDCA1;
}
.neir .tus3 p{
    color: #F29C9A;
}
.neir .tus4 p{
    color: #2196F3;
}
.neir .tus .st{
    width: 296px;
    height: 340px;
    background-color: #fff;
    margin-top: 78px;
    position:absolute;
    top: 0;
    left: 0;
}
.neir .tus .zjt{
    width: 23px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.neir .tus:hover .zjt{
    background-color: #b0b0b0;
}
.neir .tus .zjt:hover{
    background-color: #757575;
}
.neir .tus .zjt .icon-arrow-left{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 18px;
    bottom: 0;
    margin: auto;
    background-color: transparent;

}
.neir .tus .yjt{
    width: 23px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.neir .tus .yjt .icon-right{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 16px;
    bottom: 0;
    margin: auto;
    background-color: transparent;
}
.neir .tus:hover .yjt{
    background-color: #b0b0b0;
}
.neir .tus .yjt:hover{
    background-color: #757575;
}
.neir .tus .st .lbd{
    width: 102px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.neir .tus .st .lbd .dian{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #757575;
    cursor: pointer;
}
.neir .tus .st .lbd .dian:hover{
    background-color: #ff6700;
}
.neir .tus .st .lbd .d1{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    border: 2px solid #ff6700;
    background-color: #fff;
    margin-top: -2px;
}
.neir .tus2 .st .lbd{
    width: 140px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.neir .tus2 .st .lbd .dian{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #757575;
    cursor: pointer;
}
.neir .tus2 .st .lbd .dian:hover{
    background-color: #ff6700;
}
.neir .tus2 .st .lbd .d1{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    border: 2px solid #ff6700;
    background-color: #fff;
    margin-top: -2px;
}
.neir .tus .st a p{

    font-size: 20px;
    color: #000;
}
.neir .tus .st p{
    margin-top: 10px;
    font-size: 5px;
    color: #757575;
}
.neir .tus .tt{
    width: 216px;
    height: 154px;
    background-color: #fff;
    margin-left: 50px;
    margin-top: 80px;

}
.neir .tus .tt img{
    background-color: transparent;
}
.ship{
    width: 1226px;
    height: 343px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-top: -5px;
}
.ship .sh{
    width: 1226px;
    height: 58px;
    background-color: #f5f5f5;
    line-height: 33px;
    position: relative;
}
.ship .sh .s1{
    font-size: 26px;
    color:#757575;
}
.ship .sh .s2{
    font-size: 16px;
    color: #424242;
    position: absolute;
    right: 20px;
    bottom: 0;
}
.ship .sh . .s2 .icon-gengduo{
    font-size: 16px;
    color: #424242;
    position: absolute;
    right: 0;
    top: 25px;
}
.ship .sh .s2:hover{
    color: #ff6700;
}
.ship .hh{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    margin-top: 10px;
}
.ship .hh:hover{
    transform: translateY(-3px);
    transition: 1s;
    box-shadow: 0 10px 20px 3px #dddddd;
}
.ship .hh1{
    margin-left: 0;
}
.ship .hh .ss{
    width: 296px;
    height: 180px;
    background-color: red;
    position:relative;
}
.ship .hh .ss .tuo{
    width: 30px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 40%;
    background-color: transparent;
    position:absolute;
    left: 20px;
    bottom: 10px;
}
.ship .hh .ss:hover .tuo{
    background-color: #ff6700;
    border: 2px solid #ff6700;
}
.ship .hh .ss .icon-bofang{
    color: #fff;
    background-color: transparent;
    position: absolute;
    left: 28px;
    bottom:  13px;
}
.ship .hh a p{
    text-align: center;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    margin-top: 30px;
}
.ship .hh p{
    text-align: center;
    font-size: 12px;
    color: #757575;
    background-color: transparent;
    margin-top: 10px;
}
.dibu{
    width: 100%;
    height:272px ;
    background-color: #fff;
    margin-top: 50px;
}
.dibu .ding{
    width: 1226px;
    height:80px ;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.dibu .ding .icon-xiulixian{
    font-size: 24px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 42px;
}
.dibu .ding .icon-7{
    font-size: 24px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 280px;
}
.dibu .ding .icon-152{
    font-size: 26px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 530px;
}
.dibu .ding .icon-liwu{
    font-size: 24px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 770px;
}
.dibu .ding .icon-15{
    font-size: 24px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 1010px;
}
.dibu .ding a{
    font-size: 18px;
    margin-left: 70px;
    line-height: 80px;
    margin-right: 46px;
    color:#757575;
}
.dibu .ding span{
    color:#b0b0b0;
    font-size: 20px;
}
.dibu .ding a:hover{
    color: #ff6700;
}
.dibu .zhong{
    width: 1226px;
    height:192px ;
    background-color: #fff;
    border-top: 1px solid #b0b0b0;
    padding: 40px 0 40px 0;  
    box-sizing: border-box;
}
.dibu .zhong .zh{
    width: 1226px;
    height:112px ;
    background-color: rgb(255, 255, 255);
}
.dibu .zhong .zh .yi{
    width: 160px;
    height:112px ;
    background-color: rgb(255, 255, 255);
    float: left;
}
.dibu .zhong .zh p{
    background-color: transparent;
    font-size: 14px;
}
.dibu .zhong .zh a{
    display: block;
    margin: -15px 0 -50px 0;
    font-size: 12px;
}
.dibu .zhong .zh .er{
    width: 252px;
    height:112px ;
    background-color: rgb(255, 255, 255);
    float: left;
    border-left: 1px solid #757575;
}
.dibu .zhong .zh .er p{
    font-size: 22px;
    margin-left: 50px;
    color: #ff6700;
    margin-bottom: 10px;
}
.dibu .zhong .zh .er pre{
    background-color: transparent;
    color:#757575;
    font-size: 12px;
    margin: 0px 0 0 50px;
}
.dibu .zhong .zh .er .ss{
    margin-left: 70px;
}
.dibu .zhong .zh .er .xiao{
    display: block;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    margin: 15px 0 0 50px; 
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    
}
.dibu .zhong .zh .er .xiao a{
    width: 120px;
    height: 30px;
    line-height: 60px;
    background-color: transparent;
}
.dibu .zhong .zh .er .xiao  .ppp{
    font-size: 14px;
    background-color: transparent;
    color: #ff6700;

}
.dibu .zhong .zh .er .xiao:hover{
    background-color: #ff6700;
}
.dibu .zhong .zh .er .xiao:hover .ppp{
    
    color: #fff;
}

.red{
    width: 1226px;
    height: 232px;
    margin: 30px auto;
}
.red .xm{
    width: 55px;
    height:55px ;
    background-color: #ff6700;
    float: left;
    cursor: pointer;
    background-image: url("../img/001.png")
}
.red a{
    font-size: 12px;
    color: #424242;
    float: left;
    margin-left: 5px;
    margin-right: 1px;
}
.red .mm{
    margin-left: 8px;
}
.red a:hover{
    color: #ff6700;
}
.red .cmm{
    width: auto;
    height: 14px;
}
.red .con{
    width: auto;
    height: 72px;
    margin: 5px 0 0 55px;
}
.red .con p a{
    color: #b0b0b0;
}
.red .tu{
    width: 83px;
    height: 28px;
    float: left;
    margin-left: 55px;
}
.red .tp{
    width: 85px;
    height: 28px;
    float: left;
    margin-left: 5px;
}
body{
    position: relative;
}
.zhi{
    width: 26px;
    height: 200px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 35px;
}
.zhi .box{
    width: 26px;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.zhi .box1{
    border-bottom: 0;
}
.zhi .box .icon-shouji{
    background-color: transparent;
    color: #dddddd;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.zhi .box .icon-renwu1{
    background-color: transparent;
    color: #ddd;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.zhi .box .icon-xiulixian{
    background-color: transparent;
    color: #dddddd;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.zhi .box .icon-kefu{
    background-color: transparent;
    color: #dddddd;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.zhi .box .icon-gouwuchekong{
    background-color: transparent;
    color: #dddddd;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.zhi .box:hover .icon-shouji{
    color: #ff6700;
} 
.zhi .box:hover .icon-renwu1{
    color: #ff6700;
}
.zhi .box:hover .icon-xiulixian{
    color: #ff6700;
}
.zhi .box:hover .icon-kefu{
    color: #ff6700;
}
.zhi .box:hover .icon-gouwuchekong{
    color: #ff6700;
}